
/* STYLE GUIDE */

body {
    font-family: Open Sans;
    background-color: #FFFFFC;
}

p {
    font-size: 18px;
}

h1 {
    font-family:'Playfair Display', serif;
    font-size: 75px;
    font-style: Bold;
    color: #EC5528;
}

h3 {
    font-family: Playfair Display;
    font-size: 30px;
}

/* HOME PAGE */

/* Navigation style */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* mobile nav bar codes */

.hamburger {
    display: none;
}

.hamburgerOpen {
    display: none;
}


/* end of mobile nav bar codes */


.logo {
    margin: 40px;
    height: 30px;
    width: 80px;
}

.navTabs {
    display: inline-block;
    list-style-type: none;
    font-size: 20px;
    margin: 40px;
}


.navHover:hover {
    color: #EC5528;
    scale: 5,6;
    font-weight: 200;
}

a{
    text-decoration: none;
    color: black;
    margin: 40px;
}

li {
    display: inline-block;
    padding: 40px;
}

/* Home Intro Style */

.Intro {
    display: flex;
    align-items: center;
    justify-content: center;
}


.HomeAbout {
    padding: 50px;
    width: 800px;
    margin: auto;
}
 

/* My Work Style*/

.myWork {
        display: flex;
        align-items: center;
        justify-content: center;
    }

.HappyHippie {
    grid-area: TopLeft;
    background-color: white;
 
}

.Government {
    grid-area: TopRight;
    background-color: white;
}

.PupPal {
    grid-area: BottomLeft;
    background-color: white;
}

.HappyGrocer {
    grid-area: BottomRight;
    background-color: white;
}

.caseStudies {
    display: flex;
    flex-direction: row;
}

#card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 300px;
    margin: 20px;
    border-radius: 5%;
    padding: 20px;
}

#card:hover {
    box-shadow: -3px 10px 10px #595959;
}

/* View Case Button Animation */

.viewCase,
  .viewCase::after {
    -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
      transition: all 0.3s;
  }

  .viewCase {
    display: inline;
    border-radius: 4%;
    background: none;
    color: #EC5528;
    padding: 10px;
    border-style: solid;
    border-width: 2;
    border-color: #EC5528;
    justify-content: center;
    align-items: center;
    position: relative;
}


.viewCase::before,
.viewCase::after {
  background: #EC5528;
  content: '';
  position: absolute;
  z-index: -1;
}

.viewCase:hover {
    background-color: #EC5528;
    color: white;
}


.viewCase::after {
    height: 0;
    left: 50%;
    top: 50%;
    width: 0;
  }
  
  .viewCase:hover:after {
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
  }



/* Footer Style */

.Footer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.footTabs {
    margin: 40px;
    font-size: 20px;
}

/* ABOUT PAGE */

.AboutMe {
    display: flex;
    flex-direction: row;
    margin: 20px;
    justify-content: center;
    align-items: center;
}

.ProfilePic {
    border-radius: 4%;
    width: 350px;
    height: 400px;
    float: left;
    margin: 20px;
}

.aboutSummary {
    padding: 50px;
    width: 900px;
    margin: 10px;
}

.skillName {
   margin: 60px;
   width: 400px;
}

#mySkills {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


/* RESPONSIVE DESIGN CODES */


@media only screen and (max-width: 1500px) {

    /* home page */

    .caseStudies {
    display:grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "TopLeft TopRight"
    "BottomLeft BottomRight";
    align-items: center;
    justify-content: center;
}}

@media only screen and (max-width: 800px) {

    /* about page */
    
    #mySkills {
        display: block;
        margin: 100px;
        padding: 40px;
    }

    .navTabs {
        display: none;
    }

    .hamburger {
        display: inline-block;
        padding: 10px;
        border: none;
        background: none;
    }
}



@media only screen and (max-width: 600px) {

    /* home page */
    .caseStudies {
        display: block;
}

    /* about page */

    #mySkills {
        display: block;
    }

    .navTabs {
        display: none;
    }

    .hamburger {
        padding: 10px;
        border: none;
        background: none;
        z-index:10000000000000;
    }

    .hamburgerMenu {
        position: fixed;
    }

    .hamburgerOpen {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-weight: bold;
        width: 50%;
        position: absolute;
        text-align: center;
        z-index:1000000;
    }

    .hamburgerOpen ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }


  

}



